<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Dashboard</title>
    <link rel="stylesheet" href="{% static 'activities/breathing/breath.css' %}">
    <link rel="stylesheet" href="{% static 'default/home-style.css' %}">
</head>

<body>
    <div class="app-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="profile">
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
                <div class="profile-info">
                    <h2>Sandy</h2>
                    <p>sandy@gmail.com</p>
                </div>
            </div>
            <div class="menu">
                <div class="menu-item"><a class="menu-item" href="{% url 'home' %}">Dashboard</a></div>
                <div class="menu-item"><a class="menu-item" href="{% url 'journal_list' %}">Journal</a></div>
                <div class="menu-item"><a class="menu-item" href="{% url 'activities' %}">Activities</a></div>
                <div class="menu-item"><a class="menu-item" href="{% url 'chatbot' %}">Chatbot</a></div>
                <div class="menu-item"><a class="menu-item" href="{% url 'settings_main' %}">Settings</a></div>
                
                <!-- Logout Button -->
                <div class="menu-item">
                    <form method="post" action="{% url 'logout' %}">
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                </div>
            </div>
        </aside>                
	 <!-- Main content with curved corners -->
        <div class="activity-main-area">
            <main class="activity-main-content">
		<!-- Activities Header -->
                <div class="activities-header-wrapper">
                    <header class="activities-header">
                        <h1>BREATHING</h1>
                    </header>
                
        </div>
                <!-- Breathing Exercise Section -->
                      <div class="flower-container">
            <div class="petal" style="--rotate: 0deg;"></div>
            <div class="petal" style="--rotate: 60deg;"></div>
            <div class="petal" style="--rotate: 120deg;"></div>
            <div class="petal" style="--rotate: 180deg;"></div>
            <div class="petal" style="--rotate: 240deg;"></div>
            <div class="petal" style="--rotate: 300deg;"></div>
        </div>
        		<div class="breathing-text"></div>
    		    
	   </main>
	</div>
</body>